<ion-view view-title="BAR">
	<ion-content ng-controller="BarCtrl">
		<ul>
            <li class="time-item belgium">
                <div class="filter">
                    <div class="place">
                        belgium
                    </div>
                    <div class="time">
                        {{ clock }}<span>{{ sec }}</span>
                    </div>
                </div><!-- ./filter -->
            </li>
            <li class="time-item boavista">
                <div class="filter">
                    <div class="place">
                        boa vista
                    </div>
                    <div class="time">
                        {{ boa }}<span>{{ sec }}</span>
                    </div>
                </div><!-- ./filter -->
            </li>
            <li class="time-item curacao">
                <div class="filter">
                    <div class="place">
                        curaçao
                    </div>
                    <div class="time">
                        {{ cura }}<span>{{ sec }}</span>
                    </div>
                </div><!-- ./filter -->
            </li>
            <li class="time-item washington">
                <div class="filter">
                    <div class="place">
                        washington
                    </div>
                    <div class="time">
                        {{ washington }}<span>{{ sec }}</span>
                    </div>
                </div><!-- ./filter -->
            </li>
            <li class="time-item mexico">
                <div class="filter">
                    <div class="place">
                        mexico
                    </div>
                    <div class="time">
                        {{ mexico }}<span>{{ sec }}</span>
                    </div>
                </div><!-- ./filter -->
            </li>
        </ul>
	</ion-content>
</ion-view>